.Box {
  background-color: white;
  width: 40%;
  height: 170px;
  border-radius: 5px;
  position: relative;
  top: 12vw;
  left: 30.55%;
}
.Box > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line {
  width: 100%;
  height: 3px;
  color: #0099ff;
  background-color: #0099ff;
}
.Box > div > input {
  margin-left: 10px;
  border: 0px white;
  width: 100%;
  height: 4em;
}
.Box > div > svg {
  margin-right: 20px;
}
.input:active,
:focus {
  border-style: hidden;
  outline: none; /* Ẩn vạch kẻ quanh input khi ấn*/
}

.reset:hover {
  background-color: #0099ffb9;
  box-shadow: -3px 4px 3px #b8b9b9de, 2px 3px 3px #bebebede;
  color: aliceblue;
  border: 0px white;
  float: right;
  clear: both;
  padding: 1% 2% 1% 2%;
  margin-top: 3.5em;
  margin-right: 1em;
}
.search:hover {
  background-color: #0099ffb9;
  box-shadow: -3px 4px 3px #b8b9b9de, 2px 3px 3px #bebebede;
  color: aliceblue;
  border: 0px white;
  float: right;
  padding: 1% 2% 1% 2%;
  margin-top: 3.5em;
  margin-right: 1em;
}
.reset {
  background-color: none;
  border: 0px white;
  float: right;
  clear: both;
  padding: 1% 2% 1% 2%;
  margin-top: 3.5em;
  margin-right: 1em;
}
.search {
  background-color: none;
  border: 0px white;
  float: right;
  padding: 1% 2% 1% 2%;
  margin-top: 3.5em;
  margin-right: 1em;
}
ul {
  list-style-type: none;
}
ul li {
  list-style-type: none;
  display: inline;
  flex-wrap: nowrap;
}
.Results {
  width: 10%;
  padding-left: 1%;
  /* margin-right: 2%; */
  z-index: -1;
}
.Results:hover {
  /* width: 9%; */
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.boxtrailer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 50vh;
  color: rgb(238, 238, 238);
  background-color: rgb(20, 20, 20);
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .boxtrailer {
    width: 90rem;
    left: calc(24% - 20rem);
  }
}
